---
Language: Cpp
BasedOnStyle: Microsoft
Standard: c++20

ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

NamespaceIndentation: None
FixNamespaceComments: true
ShortNamespaceLines: 1

AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
AlignOperands: Align

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<Q[A-Z][A-Za-z0-9_]*>'
    Priority:        3
  - Regex:           '^<(opencv2|onnxruntime|libraw|lensfun|lcms2|exiv2|spdlog)(/|>)'
    Priority:        4
  - Regex:           '^<gtest/|^<gmock/'
    Priority:        5
  - Regex:           '^<[a-z_]+>'
    Priority:        1
  - Regex:           '^<.*\.h>'
    Priority:        2
  - Regex:           '^".*"'
    Priority:        6
SortIncludes: CaseSensitive

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLine
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon

EmptyLineBeforeAccessModifier: LogicalBlock
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

Cpp11BracedListStyle: true
AllowAllConstructorInitializersOnNextLine: true
LambdaBodyIndentation: Signature

# Qt 매크로를 함수 호출로 오인하지 않도록
StatementMacros:
  - Q_OBJECT
  - Q_PROPERTY
  - Q_ENUM
  - Q_FLAG
  - Q_DECLARE_FLAGS
  - Q_DECLARE_METATYPE
  - Q_INVOKABLE
  - Q_GADGET
  - Q_SIGNAL
  - Q_SIGNALS
  - Q_SLOT
  - Q_SLOTS
  - QT_BEGIN_NAMESPACE
  - QT_END_NAMESPACE
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
...
